<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "layout/main.html">
<div layout:fragment = "mainContent">
    <div class="container">
                <div class="row mt-3">
                    <div class="col-12 mx-auto">
                        <div class="row col-sm-3 mb-5">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#newFolder">
                                <strong>+ New Folder</strong>
                            </button>
                        </div>
                        <div class="row g-4">


                            <!-- Modal -->
                            <div class="modal fade" id="newFolder" data-bs-backdrop="static" data-bs-keyboard="false"
                                 tabindex="-1"
                                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form th:action="@{'/addFolder'}" method="post">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">ADD NEW FOLDER</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body mt-1">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="form-control">Folder name</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input class="form-control" type="text" name="name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                                </button>
                                                <button class="btn btn-primary">ADD</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 container-fluid mb-3">
                                <div class="card w-100 mb-3" th:each="folder : ${folders}">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${folder.name}"></h5>
                                        <a th:href="@{'/details/folders/' + ${folder.id}}" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</html>